body {
    background-color: black;
    
    
}

.row {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50%;
      
}

.col-md-12 {
    display:flex;
    justify-content: center;
    margin: auto;
    
}

/* Change the margins for smaller viewports*/
