body {
    background-color: black;
  
}

.container {
    text-align: center;
    margin-top: 100px;

}

.ptitle {
    color: lime;
}

.card {
    background: black;
    color: lime;
    border: solid 1px transparent;
    border-color: lime;
    display: flex;
    justify-content: center;
    max-height: 1200px;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 24px;
}

button {
    position: static;
    bottom: 0;
    left: 50;
    max-width: 400px;
    margin-top: 30px;
}

#butt {
    background-color: black; 
    border-color: lime; 
    color: lime;" 
}
